LineExtractor/Esp/**
LineExtractor/Csv/**
LineExtractor/Json/**
LineExtractor/tes3conv.zip
LineExtractor/tes3conv.exe
LineGenerator/Sound/**
LineGenerator/*.csv
LineGenerator/*.json
LineGenerator/*.csv~
LineGenerator/*.csv.un~
LineGenerator/*.json~
LineGenerator/*.json.un~
Progress/*.csv~
Progress/*.csv.un~